<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samset.recyclerviewpagerexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleFlipperActivity" />
        <activity android:name=".CustomFlipper"></activity>
        <activity android:name=".GalleryFlipperActivity"></activity>
        <activity android:name=".VerticalPagerActivity"></activity>
        <activity android:name=".LoopPagerActivity"></activity>
        <activity android:name=".ReverseSimpleFlipperActivity"></activity>
        <activity android:name=".ReverseVerticalPagerActivity"></activity>
    </application>

</manifest>
